.search_word::placeholder {
  color: #999;
  font-weight: bold;
  font-size: 1rem;
}
.search_word {
  text-rendering: optimizeSpeed;
  text-emphasis-position: 10px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px var(--primary) solid;
}

.look_up_form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 10px;
  width: 50%;
}
.look_up {
  background: var(--primary);
  color: #fff;
  border-radius: 0.8rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  transition: background 0.2s ease;
  font-size: 1.2rem;
}
.look_up:hover {
  background: #2f46ff;
}
.look_up:disabled {
  background: #2f462c;
}
